.container {
    width: 1280px;
    margin: 0 auto;
}

.main-header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445162;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;    
}

.main-header-wrapper {
    float: left;
}

.main-header-title {
    margin: 0 0 30px 0;
    font-family: "ArialMT", sans-serif;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
}

.main-header-list {
    margin: 0;
    padding: 0;
    font-family: "ArialMT", sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    list-style-type: none;
    color: #fff;
}

.main-header-list-item {
    padding: 0 0 0 30px;
    color: #fff;
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(../img/check_icon_346.png);
    background-size: auto;
/*  border: 1px solid black;*/
    position: absolute;
    top: 7px;
    left: 0px;
}

.main-header-photo {
    float: right;
    width: 469px;
    height: 214px;
    display: block;
    background-color: #fff;
}

.content {
    width: 100%;
    box-sizing: border-box;
    clear: both;
}

.about-product {
    padding: 50px;
    background-color: #fff;
}

.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-product-wrapper {
    float: left;
}

.about-product-title {
    margin: 0;
    color: #445161;
    width: 254px;
    height: 28px;
    font-family: "ArialMT", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

.about-product-text-1 {
    width: 649px;
    height: 63px;
    font-family: "ArialMT", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about-product-text-2 {
    width: 653px;
    height: 60px;
    font-family: "ArialMT", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about-product-video {
    float: right;
    width: 430px;
    height: 245px;
    background-color: #445161;
    display: block;
}

.dignity {
    padding: 50px;
    width: 100%;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.dignity:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.dignity-title {
    display: block;
    font-family: "ArialMT", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin: 0 0 30px 0;
}

.dignity-list-left {
    float: left;
    display: block;
    margin: 0;
    padding: 0 0 0 46px;
    width: 540px;
    font-family: "ArialMT", sans-serif;
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333;
}

.dignity-list-item {
    margin: 0 0 40px 0;
    position: relative;
}

.dignity-list-item:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: -46px;
}

.dignity-list-right {
    float: right;
    display: block;
    margin: 0;
    padding: 0 0 0 46px;
    width: 540px;
    font-family: "ArialMT", sans-serif;
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333;
}

.scrinshots {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding: 50px;
}

.scrinshots:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.scrinshots-title {
    display: block;
    font-family: "ArialMT", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin: 0px 0 30px 0;
}

.scrinshots-block-1 {
    display: block;
    float: left;
    width: 50%;
    margin: 0 0 30px 0;
    box-sizing: border-box;
}

.scrinshots-photo {
    display: block;
    width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
    margin: 0 10px 0 0;
  }

.scrinshots-content {
    display: block;
    width: 100%;
    margin: 0 10px 0 0;
}

.scrinshots-content-title {
    width: 100%;
    font-family: "ArialMT", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin: 0;
}

.scrinshots-content-text {
    width: 100%;
    font-family: "ArialMT", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333;
    margin: 15px 0 0 0;
}

.scrinshots-block-2 {
    display: block;
    float: left;
    width: 50%;
    margin: 0 0 30px 0;
    box-sizing: border-box;
}

.scrinshots-block-3 {
    display: block;
    float: right;  
    width: 50%;
    margin: 0;
    box-sizing: border-box;
}

.scrinshots-block-4 {
    display: block;
    float: right;
    width: 50%;
    margin: 0;
    box-sizing: border-box;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    background-color: #f5f5f5;
}

.reviews:after {
    content: "";
    display: block;
    clear: both;
    width: 100%;
}

.reviews-title {
    width: 100%;
    display: block;
    text-align: center;
    font-family: "ArialMT", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 35px 0;
}

.reviews-block {
    width: 49%;
    display: block;
    margin: 0 0 30px 0;
    box-sizing: border-box;
/*    padding-right: 32px;*/
}

.reviews-img {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #445161;
    float: left;
    margin: 0;
}

.reviews-item {
    display: block;
    padding: 10px;
    margin-left: 100px;
    box-sizing: border-box;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
}

.reviews-item:before {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px; 
    border: 15px solid transparent;	
    border-right: 15px solid #ccc;
}

.reviews-item-txt {
    font-family: "ArialMT", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
}

.reviews-item-author {
    display: block;
    width: 100%
    font-family: "ArialMT", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    margin: 10px 0 0 0;
}

.reviews > article:nth-child(4),
.reviews > article:nth-child(5) {
    margin-bottom: 0;
}

.buy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    padding: 50px;
    background-color: #fff;
}

.buy:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.buy-title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "ArialMT", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0;
}

.buy-block-standart {
    display: block;
    width: 300px;
    background-color: #445161;
    border-radius: 10px;
    padding: 0 2px 20px 2px;
}

.buy-block-premium {
    display: block;
    width: 300px;
    background-color: #445161;
    border-radius: 10px;
    padding: 0 2px 20px 2px;
}

.buy-block-lux {
    display: block;
    width: 300px;
    background-color: #445161;
    border-radius: 10px;
    padding: 0 2px 20px 2px;
}

.buy-block-title {
    width: 100%;
    display: block;
    text-align: center;
    font-family: "ArialMT", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    margin: 16px 0 16px 0;
}

.buy-block-txt {
/*    width: 100%;*/
    display: block;
    text-align: center;
    background-color: #fff;
    font-family: "ArialMT", sans-serif;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    margin: 0;
    padding: 15px;
}

.buy-block-list {
    display: block;
    list-style-type: decimal;
    font-family: "ArialMT", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.buy-block-list-item {
    width: 100%;
}

.buy-block-button {
    display: block;
    background-color: #fff;
    font-family: "ArialMT", sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    border-radius: 10px;
    padding: 15px;
    width: 260px;
    margin: 0 auto;
    border-style: none;
    outline: none;
}

.buy-block-button:hover {
    color: blue;
}

.buy-block-button:active {
    color: red;
}

.footer {
    width: 100%;
    box-sizing: border-box;
    clear: both;
}

.footer-contacts {
    width: 100%;
    display: block;
    background-color: #445161;
    padding: 50px;
}

.footer-contacts:after {
    content: "";
    display: block;
    clear: both;
}

.footer-contacts-title {
    display: block;
    color: #fff;
    font-family: "ArialMT", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
}

.form-wrapper {
    display: block;
    width: 60%;
    box-sizing: border-box;
    float: left;
}

form {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    float: right;
}

textarea {
    display: block;
    resize: none;
    width: 500px;
    min-height: 170px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    border-style: none;
    outline: none;
}

input {
    display: block;
    width: 500px;
    min-height: 40px;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    border-style: none;
    outline: none;
}

input[type="submit"]{
    display: block;
    width: 140px;
    min-height: 40px;
    text-transform: uppercase;
    outline: none;
    background-color: #fff;
    border-style: none;
    font-family: "ArialMT", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #445162;
    margin-left: 170px;
}

input[type="submit"]:hover {
    color: #ccc;
}

input[type="submit"]:active {
    color: #381;
}

[placeholder]{
   font-family: "ArialMT", sans-serif;
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   color: #445162;
}

.contact-inf {
    display: block;
    box-sizing: border-box;
    width: 40%;
    float: right;
    padding-left: 45px;
    margin: 20px 0 20px 0;
}

.cont-wrap {
    display: block;
    margin-bottom: 20px;
}

.contact-img {
    display: block;
    width: 24px;
    height: 26px;
    float: left;
    margin-right: 5px;
}

.cont-leg {
    display: block;
    font-family: "ArialMT", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    padding-top: 3px;
}

.icon-twitter {
    box-sizing: border-box;
    text-align: center;
    display: block;
    float: left;
    font-size: 20px;
    padding: 10px 8px 8px 8px;
    margin-right: 6px;
    width: 42px;
    min-height: 42px;
    border-radius: 50%;
    background-color: #fff;
    color: #445161;
    text-decoration: none;
}

.icon-facebook {
    box-sizing: border-box;
    text-align: center;
    display: block;
    float: left;
    font-size: 20px;
    padding: 10px 8px 8px 8px;
    margin-right: 6px;
    width: 42px;
    min-height: 42px;
    border-radius: 50%;
    background-color: #fff;
    color: #445161;
    text-decoration: none;
}

.icon-linkedin {
    box-sizing: border-box;
    text-align: center;
    display: block;
    float: left;
    font-size: 20px;
    padding: 10px 8px 8px 8px;
    margin-right: 6px;
    width: 42px;
    min-height: 42px;
    border-radius: 50%;
    background-color: #fff;
    color: #445161;
    text-decoration: none;
}

.icon-google {
    box-sizing: border-box;
    text-align: center;
    display: block;
    float: left;
    font-size: 20px;
    padding: 10px 8px 8px 8px;
    margin-right: 6px;
    width: 42px;
    min-height: 42px;
    border-radius: 50%;
    background-color: #fff;
    color: #445161;
    text-decoration: none;
}

.icon-youtube {
    box-sizing: border-box;
    text-align: center;
    display: block;
    float: left;
    font-size: 20px;
    padding: 10px 8px 8px 8px;
    margin-right: 6px;
    width: 42px;
    min-height: 42px;
    border-radius: 50%;
    background-color: #fff;
    color: #445161;
    text-decoration: none;
}

.icon-twitter:hover {
    color: #ccc;
}

.icon-facebook:hover {
    color: #ccc;
}

.icon-linkedin:hover {
    color: #ccc;
}

.icon-google:hover {
    color: #ccc;
}

.icon-youtube:hover {
    color: #ccc;
}

.icon-twitter:active {
    color: blue;
}

.icon-facebook:active {
    color: blue;
}

.icon-linkedin:active {
    color: blue;
}

.icon-google:active {
    color: blue;
}

.icon-youtube:active {
    color: blue;
}

.footer-dno {
    display: block;
    width: 100%;
    background-color: #f5f5f5;
    margin: 0 auto;
}

.footer-dno-txt {
    display: block;
    text-align: center;
    color: #445161;
    font-family: "ArialMT", sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
}